.container{
  text-align: center;
  margin-top: 20%;
}

.container h1{
  font-size: 5em;
  color: blue;
}

.container button{
 font-size: 6em;
 width: 1em;
 margin-right: 0.5em;
 background-color: azure;
 border: 1px blue solid;
 border-radius: 25px;
}